.triggers {
    padding-top: 82px;
    background-image: url('../img/svg/pixels-1.svg');
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-width: 500px) {
        padding-top: 0;
        max-width: 1035px;
        margin: 0 auto;
        background-image: none;
    }

    &--bottom-indent {
        margin-bottom: 54px;

        @media (min-width: 500px) {
            margin-bottom: 109px;
        }
    }

    &__title {
        margin-bottom: 64px;
    }

    &__list {
        margin-bottom: 64px;

        @media (min-width: 500px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: 71px;
            margin-bottom: 57px;
        }
    }

    &__item {
        &:nth-child(n+2) {
            margin-top: 48px;

            @media (min-width: 500px) {
                margin-top: 0;
            }
        }

        @media (min-width: 500px) {

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 80px;
            }
        }
    }

    &__button-container {}

    &__description {
        margin-bottom: 27px;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.39;
        text-align: center;
        color: $second-color;

        @media (min-width: 500px) {
            display: none;
        }
    }

    &__button {
        margin: 0 auto;
    }
}

.trigger {
    @media (min-width: 500px) {
        display: flex;
        max-width: 438px;
        width: 50%;
    }

    &__icon {
        max-height: 40px;
        max-width: 40px;
        margin-bottom: 11.6px;

        svg {
            width: 100%;
            height: 100%;
            fill: $second-color;
        }

        @media (min-width: 500px) {
            margin-bottom: 0;
            margin-right: 30px;
            max-width: 50px;
            max-height: 50px;

            &--star {
                svg {
                    width: 49px;
                }
            }

            &--shield {
                svg {
                    width: 50px;
                }
            }

            &--like {
                svg {
                    width: 48px;
                }
            }

            &--edit {
                svg {
                    width: 49px;
                }
            }
        }
    }

    &__content {}

    &__title {
        margin-bottom: 10px;
        color: $second-color;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 600;

        @media (min-width: 500px) {
            margin-bottom: 15px;
            font-size: 28px;
        }
    }

    &__description {
        color: #242424;
        line-height: 1.56;
    }
}