html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
    min-width: 320px;
    height: 100%;
    max-width: 100%;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    padding-top: 120px;
    padding-bottom: 120px;

    @media (min-width: 768px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

body.lock,
html.lock {
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    color: $title-color;
    font-weight: 700;

    &--basic {
        font-size: 22px;
        text-align: center;
        line-height: 1.36;

        @media (min-width: 400px) {
            font-size: 28px;
        }

        @media (min-width: 768px) {
            font-size: 34px;
            line-height: 1.3;
        }
    }

    span {
        color: $accent-title-color;
    }
}

.button {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 294px;
    min-height: 62px;
    background-color: $accent-color;
    border-radius: 10px;
    color: #222222;
    font-weight: 600;
    font-size: 18px;
    transition: .3s;

    @media (min-width: 768px) {
        margin: 0;
        min-height: 64px;

        &:hover {
            top: -2px;
            box-shadow: 0px 8px 10px 0px #0000003f;
        }

        &:active {
            top: 0;
            box-shadow: none;
        }
    }
}