// -------------------variables------------------
$accent-color: #FFDD2D;
$title-color: #254085;
$second-color: #428ECC;
$accent-title-color: #FE5339;
// -------------------fonts------------------

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// -------------------reset-styles------------------

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

li {
  position: relative;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:focus {
  outline: none;
}


/* ------------------------general-------------------- */
html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  min-width: 320px;
  height: 100%;
  max-width: 100%;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  padding-top: 120px;
  padding-bottom: 120px;
}

body.lock,
html.lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  color: $title-color;
  font-weight: 700;

  &--basic {
    font-size: 22px;
    text-align: center;
    line-height: 1.36;
  }

  span {
    color: $accent-title-color;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 294px;
  min-height: 62px;
  background-color: $accent-color;
  border-radius: 10px;
  color: #222222;
  font-weight: 600;
  font-size: 18px;
}

/* ------------------------blocks-------------------- */

.first-screen {
  &--bottom-indent {
    margin-bottom: 22px;
  }

  &__title {
    margin-bottom: 16px;
    line-height: 1.36;
  }

  &__subtitle {
    margin-bottom: 32px;
    color: #0F348C;
    font-size: 12px;
    line-height: 1.5;
  }

  &__img {
    position: relative;
    display: block;
    max-height: 340px;
    height: 100%;
    width: 105%;
    margin-left: -7px;
    margin-bottom: 50px;

    img {
      display: block;
      height: 100%;
      width: 100%;
      max-height: inherit;
      object-fit: contain;
      object-position: center top;
    }
  }

  &__button {
    font-size: 16px;
  }
}

.triggers {
  padding-top: 82px;
  background-image: url('../img/svg/pixels-1.svg');
  background-repeat: no-repeat;
  background-position: center top;

  &--bottom-indent {
    margin-bottom: 54px;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__list {
    margin-bottom: 64px;
  }

  &__item {
    &:nth-child(n+2) {
      margin-top: 48px;
    }
  }

  &__button-container {}

  &__description {
    margin-bottom: 27px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.39;
    text-align: center;
    color: $second-color;
  }

  &__button {}
}

.trigger {

  &__icon {
    max-height: 40px;
    max-width: 40px;
    margin-bottom: 11.6px;

    svg {
      width: 100%;
      height: 100%;
      fill: $second-color;
    }
  }

  &__content {}

  &__title {
    margin-bottom: 10px;
    color: $second-color;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
  }

  &__description {
    color: #242424;
    line-height: 1.56;
  }
}