.types {
    padding-top: 92px;
    background-image: url('../../img/svg/pixels-2.svg'), url('../../img/svg/pixels-3.svg');
    background-repeat: no-repeat;
    background-position: left 10px top, right 10px top;

    &--bottom-indent {
        margin-bottom: 22px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__slider-wrapper {
        position: relative;
    }

    &__slider {
        display: flex;
    }

    .slick-track {
        display: flex;
    }

    .slick-slide {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: inherit;
        margin: 20px;
    }
}

.type {
    box-shadow: 0px 8px 10px 0px #6B8BD91A;
    border-radius: 26px;

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 196px;
        padding: 15px;
        background-color: #EBF4FD;
        border-radius: 26px 26px 0px 0px;

        &--courier {
            padding: 21.5px;
        }

        &--mobile {
            padding: 45px 30px 30px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }

    &__content {
        padding: 16px 22px 10px;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 1.3;
    }

    &__description {
        color: #242424;
        line-height: 1.375;
    }
}