@import '../../../css/src/variables';

.where-pay {
    padding-top: 110px;
    background-image: url('../../img/svg/pixels-4.svg');
    background-repeat: no-repeat;
    background-position: center top;

    &--bottom-indent {
        margin-bottom: 7px;
    }

    &__title {
        margin-bottom: 29px;
        color: $second-color;
    }

    &__slider-wrapper {
        position: relative;
        margin-bottom: 60px;
    }

    &__slider {}

    &__card {}

    &__arrows {
        .arrow {
            top: 78px;
            transform: none;
        }
    }

    .slick-list {
        padding: 0 32px;
    }

    .slick-slide {
        margin-right: 25.5px;
        opacity: 0.8;

        &.slick-active {
            opacity: 1;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.card {
    padding: 0 7px;

    &__img {
        display: block;
        width: 180px;
        height: 180px;
        margin: 0 auto 16px;
        border-radius: 21px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: inherit;
        }
    }

    &__content {}

    &__title {
        margin-bottom: 17px;
        text-align: center;
        font-size: 20.7px;
        line-height: 1.34;
    }

    &__list {}

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            max-width: 25px;
            max-height: 27px;
            width: 100%;
            height: 100%;
            fill: $second-color;
        }

        &--credit-card {
            svg {
                width: 23px;
                margin-right: 2px;
            }
        }

        span {
            margin-left: 12px;
            color: #121212;
            line-height: 1.34;
        }
    }


}