@import '../../../css/src/variables';

.where-pay {
    padding-top: 110px;
    background-image: url('../../img/svg/pixels-4.svg');
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-width: 1095px) {
        max-width: 1080px;
        margin: 0 auto;
        background-image: url('../../img/svg/pixels-4.svg'), url('../../img/svg/pixels-5.svg');
        background-position: left top, right top;
        background-size: 180px 165px, 126px 131px;
    }

    &--bottom-indent {
        margin-bottom: 7px;

        @media (min-width: 550px) {
            margin-bottom: 100px;
        }

        @media (min-width: 1095px) {
            margin-bottom: 140px;
        }
    }

    &__title {
        margin-bottom: 29px;
        color: $second-color;

        @media (min-width: 1095px) {
            margin-bottom: 50px;
        }
    }

    &__slider-wrapper {
        position: relative;
        margin-bottom: 60px;

        @media (min-width: 1095px) {
            margin-bottom: 65px;
        }
    }

    &__slider {
        max-width: 800px;
        margin: 0 auto;

        @media (min-width: 1095px) {
            max-width: none;
        }
    }

    &__card {}

    &__arrows {
        .arrow {
            top: 78px;
            transform: none;
        }
    }

    .slick-track {
        @media (min-width: 1095px) {
            display: flex;
            justify-content: space-between;

            &::after,
            &::before {
                display: none;
            }
        }
    }

    .slick-list {
        padding: 0 32px;

        @media (min-width: 1095px) {
            padding: 0;
        }
    }

    .slick-slide {
        margin-right: 25.5px;
        opacity: 0.8;

        @media (min-width: 1095px) {
            margin-right: 30px;
        }

        &.slick-active {
            opacity: 1;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__button {
        @media (min-width: 768px) {
            margin: 0 auto;
        }
        @media (min-width: 1095px) {
            min-height: 54px;
        }
    }
}

.card {
    padding: 0 7px;

    @media (min-width: 1095px) {
        &.where-pay__card.slick-slide {
            display: flex;
            align-items: center;
        }
    }

    &__img {
        display: block;
        width: 180px;
        height: 180px;
        margin: 0 auto 16px;
        border-radius: 21px;
        flex-shrink: 0;

        @media (min-width: 1095px) {
            width: 253px;
            height: 246px;
            border-radius: 0;
            margin-right: 43px;
            margin-bottom: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: inherit;
        }
    }

    &__content {}

    &__title {
        margin-bottom: 17px;
        text-align: center;
        font-size: 20.7px;
        line-height: 1.34;

        @media (min-width: 1095px) {
            text-align: left;
        }
    }

    &__list {}

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        svg {
            max-width: 25px;
            max-height: 27px;
            width: 100%;
            height: 100%;
            fill: $second-color;
        }

        &--credit-card {
            svg {
                width: 23px;
                margin-right: 2px;
            }
        }

        span {
            margin-left: 12px;
            color: #121212;
            line-height: 1.34;
        }
    }


}